body, html{
    font-family: 'Inter', Arial, sans-serif;
    background-color: #FEFBF4;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    color: #123949;
    /* justify-content: center;
    height: 100%;
    display: flex;
    align-items: center; */

}

/* Barra de contenido */

.topbar {
    background-color: #123949;
    overflow: hidden;
    display: flex; /* Cambiado a flex para un mejor control del layout */
    width: 100vw; /* Esto hace que la barra ocupe el ancho total de la ventana */
    position: absolute; /* O 'absolute' si necesitas que esté fijada en una posición */
    left: 0;
    right: 0;
    top: 0;
    position:fixed
}

.topbar-item {
    float: center;
    display:inline-grid;
    color: white;
    text-align: center;
    padding: 24px 40px; 
    text-decoration: none;
      
}

.topbar-item:hover {
    background-color: #fefbf49e;
    color: black;
}


@media screen and (max-width: 600px) {
    .topbar-item {
        float: none;
        display: block;
        text-align: left;
    }
}

.topbar-name {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-size:larger;
    text-align: center;
}



/* Bocetos */

img{
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.bocetos{
    gap: 20px;
    padding: 100px;
    /* margin-top: 10px; */
}