body, html{
    font-family: 'Inter', Arial, sans-serif;
    background-color: #FEFBF4;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    color: #123949;
    /* justify-content: center;
    height: 100%;
    display: flex;
    align-items: center; */

}


/* Detalle */

h1 {
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.detalle {
    gap: 20px;
    padding: 100px;
    margin-top: 60px;
}

p{
    margin: 0;
    /* padding: 5px; */
}

img{
    width: 50%;
    height: auto;
    margin: 0;
    padding: 0;
}


.intro{
    margin: 50px;
}

.usuarios{
    margin: 50px;
}

.funcionalidades{
    margin: 50px;
}