body, html{
    font-family: 'Inter', Arial, sans-serif;
    background-color: #FEFBF4;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0;
    color: #123949;
    /* justify-content: center;
    height: 100%;
    display: flex;
    align-items: center; */

}

/* Barra de contenido */

.topbar {
    background-color: #123949;
    overflow: hidden;
    display: flex; /* Cambiado a flex para un mejor control del layout */
    width: 100vw; /* Esto hace que la barra ocupe el ancho total de la ventana */
    position: absolute; /* O 'absolute' si necesitas que esté fijada en una posición */
    left: 0;
    right: 0;
    top: 0;
    position:fixed
}

.topbar-item {
    float: center;
    display:inline-grid;
    color: white;
    text-align: center;
    padding: 24px 40px; 
    text-decoration: none;
      
}

.topbar-item:hover {
    background-color: #fefbf49e;
    color: black;
}


@media screen and (max-width: 600px) {
    .topbar-item {
        float: none;
        display: block;
        text-align: left;
    }
}

.topbar-name {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bolder;
    font-size:larger;
    text-align: center;
}

/* miembros */

.member-container {
    display: flex;
    align-items: center;
}
.member-info {
    margin-left: 20px; /* Espacio entre la foto y la información del miembro */
}
img {
    max-width: 100%; /* Asegura que la imagen no se extienda más allá de su contenedor */
    height: auto;
}

.nameList{
    gap: 20px;
    padding: 100px;
    /* margin-top: 10px; */
}


h3 a {
    color: inherit; 
    text-decoration: none; 
}


h3 a:hover {
    /* text-decoration: underline;  */
    color: #12394991; 
}

 li{
    list-style-type: none;
    padding: 10px;
    margin: 10px;
} 

.nombres{
    border: 1px solid #123949;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    background-color: #fefbf4; 
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); */
    transition: 0.3s;
    /* display: block; */
    padding: 15px 5px;
}

ul{
    display: inline-grid;
}

  