.texto{
    padding: 200px;
    text-align: center;
}

h1 {
    padding-bottom: 10px ;
    font-size: 5em;
}

p{
    font-size: large;
}

button {
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5rem;
    font-weight: 100;
    background: #123949;
    color: white;
    border: none;
    margin: 20px;
}

button:hover {
    background: #1ab2a8;
}