body {
    /* box-sizing: border-box; */
    align-items: center;
    display: flex;
    justify-content: center;
}

label {
    display: inline-block;
    width: 150px;
    text-align: left;
    font-size: 1.5rem;
}

input, button {
    border: 2px solid #ccc;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 10px;
}

form {
    margin: 25px auto;
    width: 500px;
}

div.form-element {
    margin: 20px 0;
}

button{
    /* padding: 15px; */
    background: #123949;
    color: #FEFBF4;
    border: none;
    align-self: center;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* bottom: -30px; */
}

.boton{
    justify-content: center;
    display: flex;
    padding: 10px;
}

button:hover {
    background: #1ab2a8;
}

legend, fieldset {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

fieldset div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

fieldset label {
    text-align: right;
    margin-right: 10px;
}

.legenda{
    display: flex;
    flex-direction: column;
}

:-webkit-any(article, aside, nav, section) h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

